/*Cores padrões*/
:root{
	--vermelho: #E50914;
	--preta: #141414;
}

/*Limpando padrões*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Deixar algum texto em negrito*/
.negrito{
	font-weight: bold;
}

/*Elementos base*/
body{
	background: var(--preta);
	font-family: 'Arial', Times, serif;
	color: white;
}

img{
	width: 100%;
}

/*Menu*/
header .container-menu{
	z-index:2;
	width: 100%;
	position:fixed;
  	top: 0;
	background-color: rgba(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	margin: 0 3.5rem;
	padding-top: 10px;
	padding-bottom: 3px;
}

nav{
	margin-right: 2%;
}

nav a{
	text-decoration: none;
	color:#AAA;
	margin-right: 10px;
	font-size: 15px;
}

nav a:hover{
	color: white;
}

/*Filme principal*/
.container-filme-principal{
	max-width: 100%;
	min-width: 367px;
	height: 670px;
	margin-top: 56px;
	font-size: 16px;
	background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0.50)100%) , url('../img/capa-neymar.jpg');
	background-size:cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.container-informacoes-filme{
	margin: 0px 10% 0px 10%;
	min-width: 367px;
}

.container-filme-texto{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main a:link, main a:visited,  main a:hover, main a:active
{
    color: #fff;
    text-decoration: none;
}

.titulo{
	font-size: 80px;
	font-family: 'Arial Black', Times;
}

.subtitulo{
	font-family:'Arial Black', Times;
	font-size: 33px;
	margin-bottom: 15px;
	margin-top: -26px;
}

.descricao1{
	margin-bottom: -10px;
	margin-top: 15%;
	font-family: 'Arial', Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.descricao2{
	margin-top: -8px;
	margin-bottom: 35px;
	font-size: 20px;
}

.pipe{
	color: var(--vermelho);
	font-size: 25px;
}

.brunoflix{
	color: var(--vermelho);
	font-size: 23px;
}

/*Botões filme principal*/
.botao{
	background-color: rgba(229, 9, 20,0.15);
	border:none;
	color:white;
	padding: 20px 20px;
	margin-right: 15px;
	width: 225px;
	font-size: 14px;
	cursor: pointer;
	transition: .5s ease all ;
}

.botao:hover{
	background-color: rgba(229, 9, 20);
}

.botao i{
	margin-right: 8px;
}

/*Carrosel de filmes*/

.carrosel-filmes{
	min-width: 367px;
	max-width: 100%;
	margin-top: 5px;
}

.box-filme{
	height: 100%;
	width: 100%;
	display: block;
}

.item{
	margin: 0px -2px 0px -2px;
}


/*Cards com mais informações*/
.container-cards{
	font-family: 'Arial', Helvetica, sans-serif;
	min-width: 367px;
	max-width: 100%;
}

.container-card-informacoes{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: black;
	margin: 5px 0px 5px 0px;
	padding: 70px 40px 70px 40px;
}

.container-card-itens{
	height: 100%;
	width: 100%;
	max-width: 1100px;
    margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.card-descricao{
	width: 52%;
	margin: 0px 2% 0px 2%px;
}

.card-titulo{
	font-size: 50px;
	margin-bottom: 8px;
}
.card-texto{
	font-weight: 400;
	font-size: 25px;
	margin: 20px 0px 7px 0px;
}

.card-image{
	margin: 0px 2% 0px 2%;
}

/*Rodapé*/
.container-rodape{
	min-width: 367px;
	max-width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
    padding-top: 25px;
	background-color: black;
	color: white;
}